[submodule ".config/astronvim"]
	path = .config/astronvim
	url = git@github.com:paintmeyellow/astroconfig.git
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = git@github.com:paintmeyellow/base16-shell.git
